.kosher-pie__wrapper{
  display: block;
}

circle.kosher-pie__ {
  fill: #ddd;
  stroke: #0074d9;
  stroke-width: 50;
  stroke-dasharray: 0 158;
  -webkit-transition: stroke-dasharray .3s ease;
  transition: stroke-dasharray .3s ease;
}

svg.kosher-pie__  {
  margin: 0 auto;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
}
